*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-container{
    background-color: whitesmoke;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#game-board{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    width: 100%;
    max-width: 600px;
    aspect-ratio: 1/1;
    border: 2px solid #333;
}
.square{
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.red-path-base{
    background-color: red;
}
.green-path-base{
    background-color: rgb(11, 139, 11);
}
.yellow-path-base{
    background-color: rgb(243, 243, 11);
}
.blue-path-base{
    background-color: rgb(5, 5, 238);
}