*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    gap: 10px;
    padding: 10px;
}
.game-container{
    background-color: whitesmoke;
    height: 600px;  
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
    height: 250px;
    width: 300px;
    border-radius: 10px;
    gap: 8px;
}
button{
    padding: 5px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: rgb(8, 226, 8);
    color: white;
}
button:hover{
    cursor: pointer;
    transform: translateY(-1px);
}
#game-board{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    width: 100%;
    max-width: 600px;
    aspect-ratio: 1/1;
    border: 2px solid #333;
}
.square{
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.red-path,.red-base{
    background-color: red;
}
.green-path,.green-base{
    background-color: rgb(11, 139, 11);
}
.yellow-path,.yellow-base{
    background-color: rgb(243, 243, 11);
}
.blue-path,.blue-base{
    background-color: rgb(5, 5, 238);
}
.token{
    width: 60%;
    height: 60%;
    border-radius: 50%;
    position: absolute;
}
.red-token {background-color: white;}
.green-token {background-color: green;}
.yellow-token {background-color: yellow;}
.blue-token {background-color: blue;}
#dice{
    background-color: cyan;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}
#dice:hover{
    cursor: pointer;
}