*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-container{
    background-color: whitesmoke;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#horizontal-path{
    display: flex;
    flex-direction: column;
    background-color: red;
    align-self: center;
    width: 100%;
    height: 90px;
    position: relative;
    z-index: 2;
}
#vertical-path{
    display: flex;
    flex-direction: row;
    background-color: yellow;
    align-items: center;
    align-self: center;
    height: inherit;
    width: 90px;
    position: absolute;
}
.path-way{
    border: 1px solid black;
    height: 30px;
}
#game-board{
    background-color: red;
    display: grid;
    grid-template-columns: repeat(11, 40px);
    /*grid-template-rows: repeat(11, 40px);*/
}
.square{
    border: 1px solid black;
    height: 40px;
    width: 40px;
}