*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2c3e50;
}
.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    height: 250px;
    width: 300px;
    border-radius: 10px;
    gap: 8px;
}
button{
    padding: 5px;
    width: 200px;
}
button:hover{
    cursor: pointer;
}
#game-board{
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    border: 5px solid black;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}
.square{
    width: 50px;
    height: 50px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.dark{
    background-color: #6a4e23;
}
.light{
    background-color: #f1c27d;
}
.piece{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(249, 248, 248);
    display: flex;
    align-items: center;
    justify-content: center;
}
.piece:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px white;
    transition: all 0.2s ease;
}
.turn-indicator{
    background-color: aquamarine;
    height: 40px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.selected-piece{
    outline: 3px solid #3498db;
    outline-offset: 1px;
    box-shadow: 0 0 15px #3498db;
}
.highlight-move{
    outline: 3px solid lime;
    box-shadow: inset 0 0 0 3px lime;
}
.highlight-jump{
    outline: 3px solid red;
    box-shadow: inset 0 0 0 3px red;
}
.attackable{
    outline: 3px solid crimson;
    transform: scale(1.05);
}