*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #f4f4f4;
    padding: 20px;
    font-family: sans-serif;
}
main{
    gap: 10px;
    padding: 10px;
}
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.game-ui{
    width: min(95vw, 35rem);
}
#game-board{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 100%;
    height: 100%;
    border: 2px solid #333;
}
.square{
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 2px;
    text-align: left;
    font-size: 70%;
    position: relative;
}
.board-wrapper{
    position: relative;
    aspect-ratio: 1/1;
    width: 100%;
}
#svg-overlay{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 5;
}