* { margin: 0; padding: 0; box-sizing: border-box; }
body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #f4f4f4;
    padding: 20px 20px;
    font-family: sans-serif;
}
main { gap: 10px; padding: 10px; }
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.game-ui { 
    width: min(95vw, 35rem); 
    display: grid; 
    gap: 0.5rem; 
    grid-template-areas: "header" "sidebar" "board" "footer";
}
.top-bar{ grid-area: header; }
.game-sidebar{ grid-area: sidebar; }
.board-area{ grid-area: board; }
.controls { grid-area: footer; }
/* BOARD */
.board-wrapper {
    position: relative;
    aspect-ratio: 1/1;
    width: 100%;
    max-width: 600px;
    margin-inline: auto;
}
#game-board {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 100%;
    height: 100%;
    border: 2px solid #333;
}
.square {
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 2px;
    text-align: left;
    font-size: clamp(0.45rem, 1vw, 0.75rem);
    position: relative;
}
/* TURN INDICATOR */
.turn-indicator{
    display: flex;
    gap: 1rem;
    align-items: center;
}
/*  PLAYER LOBBY */
.player-lobby-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.player-lobby {
    bottom: clamp(-60px, -6vw, -35px);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    padding: 6px 16px;
    border-radius: 20px;
    border: 2px dashed #999;
    min-width: 120px;
    justify-content: center;
    gap: clamp(4px, 1vw, 12px);
    z-index: 10;
}
/*  PLAYER PAWNS  */
.pawn {
    width: clamp(18px, 4vw, 40px);
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid white;
    z-index: 20;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.pawn-preview{
    width: clamp(18px, 4vw, 30px);
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
}
/* SVG OVERLAY */
#svg-overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 5;
}
/* Footer */
footer{
    display: flex;
    justify-content: center;
}
/*   DICE  */
#dice {
    background-color: white;
    border: 2px solid #333;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 5px;
    gap: 2px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transform-style: preserve-3d;
    transition: transform 0.1s linear;
    position: relative;
    width: clamp(50px, 12vw, 70px);
    aspect-ratio: 1/1;
}
#dice:active { transform: scale(0.9) rotate(15deg); }
#dice:hover { cursor: pointer; }
.dot {
    background-color: #333;
    border-radius: 50%;
    width: clamp(6px, 1.5vw, 10px);
    aspect-ratio: 1/1;
    align-self: center;
    justify-self: center;
}
.rolling { animation: spin 0.4s linear infinite; }
@keyframes spin {
    0% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    25% { transform: rotateX(110deg) rotateY(45deg) rotateX(30deg) scale(1.1); }
    50% { transform: rotateX(180deg) rotateY(180deg) rotateZ(90deg) scale(1.2); }
    75% { transform: rotateX(310deg) rotateY(270deg) rotateX(160deg) scale(1.1); }
    100% { transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}
.hopping{
    animation: hop 0.3s ease-in-out;
    z-index: 20;
}
@keyframes hop{
    0%, 100% {transform: translateY(0) scale(1);}
    50% {transform: translateY(-20px) scale(1.2);}
}

/* LAPTOP UI LAYOUT */
@media (min-width: 780px){
    body{
        overflow: hidden;
    }
    .game-ui{
        width: min(95vw, 1200px);
        min-height: 100vh;
        display: grid;
        grid-template-columns: minmax(450px, 650px) 25rem;
        grid-template-areas:
            "header header"
            "board sidebar"
            "board footer";
        gap: 1rem;
    }
    .board-wrapper{
        width: min(80vh, 800px);
        aspect-ratio: 1;
    }
    .game-sidebar{
        display:flex;
        flex-direction:column;
        gap:1rem;
    }
}