:root{
	--dark-navy: #1a2a33;
	--semi-dark-navy: #1f3641;
	--silver: #a8bfc9;
	--silver-hover: #dbe8ed;
	--light-blue: #31c3bd;
	--light-blue-hover: #65e9e4;
	--light-yellow: #f2b137;
	--light-yellow-hover: #ffc860;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--semi-dark-navy);
}

.welcome-page{
	background-color: var(--dark-navy);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 0px;
	border-radius: 8px;
	width: 280px;
	height: 250px;
	gap: 8px;
}

.player-selection{
	background-color: var(--dark-navy);
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.player-sign{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: var(--semi-dark-navy);
	width: 120%;
}

.player-variable{
	text-transform: uppercase;
	font-size: 20px;
	width: 50%;
	padding: 3px;
	justify-content: center;
	display: flex;
	border-radius: 10px;
}

.player-variable:hover{
	cursor: pointer;
	background-color: var(--silver-hover);
}

button{
	width: 100%;
	height: 40px;
	border: none;
	border-radius: 5px;
}

button:hover{
	cursor: pointer;
}

button:first-of-type{
	background-color: var(--light-yellow);
}

button:last-of-type{
	background-color: var(--light-blue);
}

.game-table{
	display: none;
	grid-template-columns: repeat(3, 120px);
	grid-template-rows: repeat(3, 120px);
}

.game-cell{
	border: 1px solid cyan;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-size: 50px;
}

.game-cell:hover{
	cursor: pointer;
}
