*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.game-table{
	display: grid;
	grid-template-columns: repeat(3, 120px);
	grid-template-rows: repeat(3, 120px);
}

.game-cell{
	border: 1px solid cyan;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-size: 50px;
}

.game-cell:hover{
	cursor: pointer;
}
