:root{
	--dark-navy: #1a2a33;
	--semi-dark-navy: #1f3641;
	--silver: #a8bfc9;
	--silver-hover: #dbe8ed;
	--light-blue: #31c3bd;
	--light-blue-hover: #65e9e4;
	--light-yellow: #f2b137;
	--light-yellow-hover: #ffc860;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--dark-navy);
}

.welcome-page{
	background-color: var(--semi-dark-navy);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 0px;
	border-radius: 8px;
	width: 280px;
	height: 250px;
	gap: 8px;
}
.welcome-page p{
	padding: 0 5px;
	text-transform: uppercase;
}
.player-selection{
	background-color: var(--dark-navy);
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.player-sign{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: var(--semi-dark-navy);
	width: 120%;
	padding: 8px;
}
.player-sign span img{
	width: 50px;
	height: 50px
}
.player-variable{
	text-transform: uppercase;
	font-size: 20px;
	width: 50%;
	padding: 3px;
	justify-content: center;
	display: flex;
	border-radius: 10px;
}

.player-variable.active{
	background-color: var(--silver);
	color: var(--dark-navy);
}

.player-variable:hover{
	cursor: pointer;
	background-color: var(--silver-hover);
}

button{
	width: 80%;
	height: 40px;
	border: none;
	border-radius: 5px;
}

button:hover{
	cursor: pointer;
}

button:first-of-type{
	background-color: var(--light-yellow);
}

button:last-of-type{
	background-color: var(--light-blue);
}

.game-table{
	display: none;
	grid-template-columns: repeat(3, 120px);
	grid-template-rows: repeat(3, 120px);
	background-color: var(--semi-dark-navy);
}

.game-cell{
	border: 1px solid cyan;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-size: 50px;
}

.game-cell:hover{
	cursor: pointer;
}

.game-table-top, .game-table-bottom{
	display: none;
	flex-direction: row;
	justify-content: space-between;
}

.logo{
	color: red;
	background-image: url(./assets/logo.svg);
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
}

.restart-btn{
	background-image: url(./assets/icon-restart.svg);
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	background-color: var(--silver);
}

.restart-btn:hover{
	cursor: pointer;
}

.turn{
	text-transform: uppercase;
	width: 100px;
	height: 20px;
	color: var(--silver);
}

#you, #ties, #opponent{
	margin-top: 10px;
	width: 100px;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

#you{
	background-color: var(--light-blue);
}

#ties{
	background-color: var(--silver-hover);
}

#opponent{
	background-color: var(--light-yellow);
}

.difficulty-menu{
	display: none;
	flex-direction: column;
	position: absolute;
	margin: -50px 0 0 68px;
	gap: 5px;
	background-color:rgb(37, 37, 19);
	width: 150px;
	padding: 5px;
	border-radius: 8px;
}
.difficulty-menu p{
	color: whitesmoke;
}